@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent-band: #A855F7; /* Electric Purple */
  --accent-venue: #3B82F6; /* Deep Sea Blue */
}

body {
  background-color: #000;
  color: white;
}
